body    {
    overflow: hidden;
}

.pageContainer {
    margin-left: 100px;
    padding: 0;
}

#scheduleTitle {
    color: #00529B;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    font-family: Arial, Sans-serif;
}

@media only screen and (max-width: 900px) {
    .scheduleTitle {
        font-size: 15px;
    }
}

.dropbtn {
background-color: #00A9D8;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* The arrow in the droptown button */
.arrow {
border: solid white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
margin-left: 12px;
margin-bottom: 3px;
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color:#8DD5ED;
}

.topbtn {
    position: relative;
    display: inline-block;
    background-color: #E6E7E9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    color: rgba(0,0,0,0.7);
}

button.topbtn:hover {
    background-color:#D1D2D4;
    }

#addAppointment {
    background-color: white;
    height: auto;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 20%;
    border: 1px solid black;
    z-index: 10;
    display: none;
}

#dragMe {
    background-color: #00529b;
    height: 30px;
    cursor: move;
}

#close  {
    height: 100%;
    width: 30px;
    line-height: 30px;
    vertical-align: center;
    color: white;
    background-color: #df0000;
    text-align: center;
    float: right;
    cursor: pointer;
}

.hidden {
    display: none;
}