.formScreen {
  padding-left: 55px;
}
.form-style {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  font: 13px;
}
.form-style-heading {
  font-weight: bold;
  color: #3e3e3f;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 25px;
  padding-bottom: 3px;
}
.form-style label {
  display: block;
  margin: 0px 0px 15px 0px;
}
.form-style label > span {
  width: 100px;
  font-weight: bold;
  color: #3e3e3f;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.form-style span.required {
  color: red;
}
.form-style input.input-field,
.form-style .select-field {
  width: 75%;
}
.form-style input.input-field,
.form-style .textarea-field,
.form-style .select-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.form-style .input-field:focus,
.form-style .textarea-field:focus,
.form-style .select-field:focus {
  border: 1px solid #ea7600;
}
.form-style .textarea-field {
  height: 100px;
  width: 55%;
}
.form-style input[type="submit"],
.form-style input[type="button"] {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #00529b;
  color: #fff;
  box-shadow: 1px 1px 4px #dadada;
  -moz-box-shadow: 1px 1px 4px #dadada;
  -webkit-box-shadow: 1px 1px 4px #dadada;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 16px;
  width: 30%;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
  background: #c3cbe4;
  color: #fff;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.checkBoxArea {
  margin-left: 105px;
}

.subtypeInputContainer {
  display: flex;
  flex-direction: column;
}

.inputFieldSubtype {
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  padding: 3px;
  outline: none;
  height: 30px;
}

.changePasswordSubmitButtonContainer {
  padding-top: 10px;
}

.labelChangePassword {
  padding-bottom: 15px;
}

@font-face {
  font-family: "AdelleSemiBold";
  font-style: normal;
  src: local("Adelle")
    url(./UnityPointHealthSources/Fonts//Adelle/Adelle_Semibold.otf)
    format("otf");
}

#delete {
  background-color: #df0000;
}

#delete:hover {
  opacity: 25%;
}

textarea,
input {
  font-family: Arial, Sans-serif;
}
