.Login-LoginUI {
  font-family: "AdelleSemiBold";
}

.Login-loginform {
  font-family: "AdelleSemiBold";
}

.Login input {
  font-family: "AdelleSemiBold";
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  margin: 5px 0px;
}

.Login button {
  font-family: "AdelleSemiBold";
  width: 110.5%;
  padding: 8px 10px;
  margin: 5px 0px;
  cursor: pointer;
}

.Login img {
  width: 100%;
}

@font-face {
  font-family: "AdelleSemiBold";
  font-style: normal;
  src: local("Adelle")
    url(./UnityPointHealthSources/Fonts//Adelle/Adelle_Semibold.otf)
    format("otf");
}
