#parent {
  background-color: #00529b;
  display: block;
  height: 100vh;
  text-align: center;
}

#parent img {
  width: 50vh;
  margin-top: 35vh;
}

#loginform {
  font-family: "AdelleSemiBold";
}

#loginform input {
  margin: 10px;
  padding: 10px 10px;
  width: 50vh;
}

#LoginButton {
  padding: 10px 10px;
  margin: 10px;
  width: 51.5vh;
}

@font-face {
  font-family: "AdelleSemiBold";
  font-style: normal;
  src: local("Adelle")
    url(./UnityPointHealthSources/Fonts//Adelle/Adelle_Semibold.otf)
    format("otf");
}
