#therapistSchedule   {
    background-color: white;
    float: clear;
    border: 1px solid #D1D2D4;
    width: 100%;
    
}

#therapistSchedule #scheduleContainer  {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
}

#therapistSchedule .day    {
    width: 13%;
    float: left;
    text-align: center;
    border-right: 1px solid #D1D2D4;
    position: relative;
}

#therapistSchedule .dayLabel   {
    width: 13%;
    float: left;
    text-align: center;
    line-height: 20px;
    color: white;
    height: 40px;
    background-color: #00A9D8;
}

#therapistSchedule #hourColumn    {
    width: 5%;
    float: left;
    border-right: 1px solid #D1D2D4;
    text-align: center;
}

#therapistSchedule .hour   {
    height: 50px;
    background-color: white;
    line-height: 25px;
    vertical-align: middle;
    border-bottom: 1px solid #D1D2D4;
    border-top: 1px solid white;
}

#therapistSchedule .halfHour   {
    height: 25px;
    background-color: white;
    vertical-align: middle;
    border-bottom: 1px solid #D1D2D4;
    cursor: pointer;
}

#therapistSchedule .halfHour .hide {
    background-color: #D1D2D4;
    line-height: 25px;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 20px;
    transition: 0.2s;
    opacity: 0;
}

#therapistSchedule .halfHour .hide:hover   {
    opacity: 1;
}

#therapistSchedule ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  #therapistSchedule ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #therapistSchedule ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 7px;
  }

  #therapistSchedule #days {
      height: 40px;
      width: 100%;
      background-color: #00A9D8;
  }

  #therapistSchedule #topRow   {
      width: 5%;
      height:35px;
      float: left;
  }

  #therapistSchedule .appointment  {
      height: 72px;
      width: 100%;
      background-color: #00529b;
      position: absolute;
      top: 72px;
      text-align: left;
      color: white;
      overflow: hidden;
      transition: 0.5s;
      border-radius: 10px;
      -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.2);
     -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.2);
     box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.2);
     z-index: 2;
  }

  #therapistSchedule .appointment:hover    {
      height: auto;
  }

  #therapistSchedule .name {
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      margin-left: 10px;
  }

  #therapistSchedule .time  {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 10px;
  }

  #therapistSchedule .notes    {
    font-size: 0.8em;
    margin-top: 15px;
    padding: 10px;
    display: none;
  }

  #therapistSchedule #timeLine {
    height: 2px;
    width: 100%;
    background-color:red;
    position: absolute;
    text-align: left;
    z-index: 3;
    position: relative;
  }

  #therapistSchedule .hidden   {
      display: none;
  }

  #therapistSchedule #toggle   {
      width: 280px;
      margin: auto;
      display: none;
  }

  #therapistSchedule .daytoggle    {
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      text-align: center;
      line-height: 30px;
      margin: 5px;
      background-color: #A8A9AD;
      color: rgb(228, 228, 228);
      font-weight: 600;
      transition: 0.5s;
  }

  #therapistSchedule .daytoggle:hover  {
      cursor: pointer;
  }

  @media only screen and (max-width: 650px) {
    #therapistSchedule .day    {
        width: 90%;
    }
    #therapistSchedule .dayLabel   {
        width: 90%;
    }
    #therapistSchedule .Monday  {
        display: none;
    }
    #therapistSchedule .Tuesday  {
        display: none;
    }
    #therapistSchedule .Wednesday  {
        display: none;
    }
    #therapistSchedule .Thursday  {
        display: none;
    }
    #therapistSchedule .Friday  {
        display: none;
    }
    #therapistSchedule .Saturday  {
        display: none;
    }
    #therapistSchedule #SundayToggle   {
        background-color: #EA7600;
    }
    #therapistSchedule #hourColumn {
        width: 9%;
    }
    #therapistSchedule #toggle {
        display: block;
    }
    #therapistSchedule #scheduleContainer  {
        max-height: calc(100vh - 200px);
    }
  }

  #therapistSchedule .editAppointmentButton    {
    font-size: 0.8em;
    margin: 10px;
    display: none;
    white-space: normal;
    border: none;
    float: left;
  }

  #therapistSchedule button.editAppointmentButton:hover    {
      cursor: pointer;
  }